<h1>Sign Up as an Author</h1>
<a href="/">&larr; Back Home</a>

<form action="/authors" method='POST'>
  <input type="text" name='name' placeholder="Enter your name...">
  <input type="submit" value='create'>
</form>